[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sperrorest"]
	path = sperrorest
	url = https://github.com/giscience-fsu/sperrorest
